In [1]:
import pandas as pd

In [2]:
df_co2 = pd.read_csv('co2.csv')
df_mth = pd.read_csv('methane.csv')
df_nt = pd.read_csv('nitrate_oxide.csv')
df_ghg = pd.read_csv('ghg.csv')
df_gdp = pd.read_csv('gdp.csv')
df_population = pd.read_csv('population_data.csv')

In [3]:
for year in range(1960,2020):
    df_co2[str(year)] = df_co2[str(year)] / df_population[str(year)]
    df_mth[str(year)] = df_mth[str(year)] / df_population[str(year)]
    df_nt[str(year)] = df_nt[str(year)] / df_population[str(year)]
    df_ghg[str(year)] = df_ghg[str(year)] / df_population[str(year)]
    df_gdp[str(year)] = df_gdp[str(year)] / df_population[str(year)]

In [4]:
df_co2_md = pd.read_csv('co2_metadata.csv')
df_co2 = df_co2.merge(df_co2_md,on="Country Code")

In [5]:
df_mth_md = pd.read_csv('methane_metadata.csv')
df_mth = df_mth.merge(df_mth_md,on="Country Code")

In [6]:
df_nt_md = pd.read_csv('nitrate_oxide_metadata.csv')
df_nt = df_nt.merge(df_nt_md,on="Country Code")

In [7]:
df_ghg_md = pd.read_csv('ghg_metadata.csv')
df_ghg = df_ghg.merge(df_ghg_md,on="Country Code")

In [8]:
df_gdp_md = pd.read_csv('gdp_metadata.csv')
df_gdp = df_gdp.merge(df_gdp_md,on="Country Code")

In [9]:
df_gdp_md

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFG,South Asia,Low income,NaN,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,NaN,Andorra,NaN
...,...,...,...,...,...,...
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",NaN
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,NaN

In [10]:
for year in range(1960,1990):
    df_co2 = df_co2.drop(str(year), axis=1)
    df_mth = df_mth.drop(str(year), axis=1)
    df_nt = df_nt.drop(str(year), axis=1)
    df_ghg = df_ghg.drop(str(year), axis=1)
    df_gdp = df_gdp.drop(str(year), axis=1)

In [11]:
for year in range(2013,2020):
    df_co2 = df_co2.drop(str(year), axis=1)
    df_mth = df_mth.drop(str(year), axis=1)
    df_nt = df_nt.drop(str(year), axis=1)
    df_ghg = df_ghg.drop(str(year), axis=1)
    df_gdp = df_gdp.drop(str(year), axis=1)

In [12]:
for column in ['Indicator Code','Unnamed: 64','SpecialNotes','TableName','Unnamed: 5']:
    df_co2 = df_co2.drop(column, axis=1)
    df_mth = df_mth.drop(column, axis=1)
    df_nt = df_nt.drop(column, axis=1)
    df_ghg = df_ghg.drop(column, axis=1)
    df_gdp = df_gdp.drop(column, axis=1)

In [13]:
df_co2 = df_co2[df_co2['Region'].notna()]
df_mth = df_mth[df_mth['Region'].notna()]
df_nt = df_nt[df_nt['Region'].notna()]
df_ghg = df_ghg[df_ghg['Region'].notna()]
df_gdp = df_gdp[df_gdp['Region'].notna()]

In [14]:
df_co2 = pd.melt(df_co2, id_vars = ['Country Name'], value_vars = [str(year) for year in range(1990,2013)])
df_co2 = df_co2.rename(columns={"value": "CO2",'variable':'year'})
df_co2 = df_co2.sort_values(by=['Country Name','year'])

In [15]:
df_mth = pd.melt(df_mth, id_vars = ['Country Name'], value_vars = [str(year) for year in range(1990,2013)])
df_mth = df_mth.rename(columns={"value": "Methane",'variable':'year'})
df_mth = df_mth.sort_values(by=['Country Name','year'])

In [16]:
df_nt = pd.melt(df_nt, id_vars = ['Country Name'], value_vars = [str(year) for year in range(1990,2013)])
df_nt = df_nt.rename(columns={"value": "Nitrate Oxide",'variable':'year'})
df_nt = df_nt.sort_values(by=['Country Name','year'])

In [17]:
df_ghg = pd.melt(df_ghg, id_vars = ['Country Name'], value_vars = [str(year) for year in range(1990,2013)])
df_ghg = df_ghg.rename(columns={"value": "Greenhouse Gases",'variable':'year'})
df_ghg = df_ghg.sort_values(by=['Country Name','year'])

In [18]:
df_gdp = pd.melt(df_gdp, id_vars = ['Country Name'], value_vars = [str(year) for year in range(1990,2013)])
df_gdp = df_gdp.rename(columns={"value": "GDP",'variable':'year'})
df_gdp = df_gdp.sort_values(by=['Country Name','year'])

KeyError: "The following 'value_vars' are not present in the DataFrame: ['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']"

In [ ]:
df = pd.concat([df_co2,df_mth['Methane']],axis=1)

In [ ]:
df = pd.concat([df,df_nt['Nitrate Oxide'],df_ghg['Greenhouse Gases']],axis=1)

In [ ]:
df[pd.isnull(df).any(axis=1)]